$light: rgba(255, 255, 255, 0.945);
$dark: #191919;
$whole-bg: hsl(249, 100%, 90%);
$cb-bg: hsl(249, 100%, 85%);

body {
  display: grid;
  place-items: center;
  height: 97vh;
  background: $whole-bg;
}
#cb {
  display: none;
  pointer-events: none;
  &:checked + label {
    background: transparent;
    border-color: $light;
    background: $cb-bg;
    & svg {
      stroke-dashoffset: 3;
      opacity: 1;
    }
  }
}
label {
  width: 150px;
  height: 150px;
  background: transparent;
  border: 6px solid $dark;
  transition-delay: 150ms;
  border-radius: 2rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  cursor: pointer;
  & svg {
    opacity: 0.2;
    padding: 1.5rem;
    stroke: $light;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    transition: all 0.3s ease-in-out;
  }
}
